// Style plagin
@import "variables";

// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

// Default styles

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

@import "../blocks/components/burger/burger.scss";
@import "../blocks/components/main-nav/main-nav.scss";
@import "../blocks/components/menu/menu.scss";

@import "../blocks/project/page-header/page-header";
@import "../blocks/project/page-footer/page-footer";
@import "../blocks/project/order-page/order-page";

// My styles

// ========================== BASIC STYLES =============================== //

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@media (min-width: $screen-md) {
    $fz: 16px;   
}

.title {
    font-size: 2.5rem;
    line-height: 1em;
    font-weight: 400;
    padding: $offset-mobile 0;
    margin: 0;
    color: inherit;
}

.text {
    font-family: 'Arial', sans-serif;
    line-height: 18px;

    @media (min-width: $screen-md) {
        line-height: 24px;
    }
}

.link {
    color: inherit;
    text-decoration: none;

    &__icon {
        margin-left: 1.3em;
    }
}

.uppertext {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 0;
    background-color: $basic-green;
    width: 100%;
}

.logo {
    display: inline-block;
    height: 2.85em;
    width: 2.42em;
    background-image: url('../img/cat-energy-img/logo-mobile.svg');
    @include makeBgCenter(contain);

    @media(min-width: $screen-md) {
        width: 10.9em;
        background-image: url('../img/cat-energy-img/logo-tablet.svg');
    }

    @media(min-width: $screen-lg) {
        background-image: url('../img/cat-energy-img/logo-desktop.svg');
    }

    &-mobile-text {
        @media (min-width: $screen-md) {
            display: none;
        }
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    @include ul-none();
}

.icon-container {
    position: relative;
    background-color: $basic-green;

    &__icon {
        position: absolute;

        &--slim {
            bottom: 5%;
            @include makeSqr(100%);
        }

        &--pro {
            max-width: 130%;
            top: 25%;
            right: -10%;

            @media (min-width: $screen-md) {
                top: 23%;
                right: -17%;
                width: 268px;
                max-width: 268px;
            }
        }
    }

    &--leaf {
        background-image: url('../img/cat-energy-img/icon_leaf.svg');
    }

    &--tub {
        background-image: url('../img/cat-energy-img/icon_tub.svg');
    }

    &--eat {
        background-image: url('../img/cat-energy-img/icon_eat.svg');
    }

    &--alarm {
        background-image: url('../img/cat-energy-img/icon_alarm.svg');
    }

    &--round {
        border-radius: 100%;
    }
}

// ========================== PAGE-HEADER =============================== //

.page-header {
    @include container();
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .78em;
    padding-bottom: .78em; 
}

// ========================== PROMO =============================== //

.promo {
    position: relative;

    &__content {
        @include container();
        color: white;
        text-align: center;
    }

    &__title {
        padding-top: .75em;
        transition: $transition-time;
    }

    &__uppertext {
        margin-bottom: 2.14em;
        transition: $transition-time;
    }

    &__background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 70%;
        z-index: -1;
    }

    &__bg-image {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('../img/cat-energy-img/index-bg-desktop.jpg');
        background-size: 175%;
        background-position: 65%;
        background-repeat: no-repeat;
    }

    &__bg-mask {
        position: absolute;
        @include makeFullscaled();
        background-color: $basic-green;
        opacity: .85;
    }
}

// ========================== GOAL =============================== //

.goal {
    @include container();
    padding-top: 10px;
    padding-bottom: 10px;

    &__row {
        @include row();
    }

    &__col {
        @include make-col(12);
    }
    
    &__card {
        margin: 10px 0;
    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: $offset-mobile;
    background-color: $basic-grey;

    &__title {
        font-size: 1.5rem;
        line-height: 2em;
        padding: 0;
        text-transform: uppercase;

        @media (min-width: $screen-md) and (max-width: $screen-lg) {
            line-height: 1em;
        }
    }

    &__text {
        padding: 1.42em 0;
    }

    &__icon-container {
        @include makeSqr(50px);
        margin-right: $offset-mobile;

        @media (min-width: $screen-md) {
            float: right;
            margin-right: 10px;
            @include makeSqr(200px);
        }
    }

    &__uppertext {
        display: flex;
        align-items: center;
        color: black;
        line-height: 1em;
    }

    @media (min-width: $screen-md) {
        display: block;
    }

    @media (max-width: $screen-md) {
        &__text {
            border-bottom: 1px solid #d9d9d9;
        }
    }

    @media (min-width: $screen-md) {
        &__text {
            max-width: 377px;
        }
    }
}

// ========================== ADVANTAGES =============================== //

.advantages {
    @include container();
    padding-top: 10px;
    padding-bottom: 10px;

    &__title {
        padding-top: 0;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: $offset-mobile;
    }

    &__icon-container {
        @include makeSqr(60px);
        @include makeBgCenter(50%);
    }

    &__text {
        flex-basis: 64.29%;
        flex-grow: 1;
        margin-left: $offset-mobile;
        margin-bottom: 0;
    }

    &__row {
        @include row();
        margin-top: $offset-mobile;
        margin-bottom: $offset-mobile;
    }

    &__col {
        @include col(xs, 12);

        @media (min-width: $screen-md) {
            @include col(md, 6);
        }
    }
}