// Style plagin
@import "variables";

// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

// Default styles

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

@import "../blocks/components/burger/burger.scss";
@import "../blocks/components/main-nav/main-nav.scss";
@import "../blocks/components/menu/menu.scss";

@import "../blocks/project/page-header/page-header";
@import "../blocks/project/page-footer/page-footer";
@import "../blocks/project/order-page/order-page";

// My styles

// ========================== BASIC STYLES =============================== //

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@media (min-width: $screen-md) {
    $fz: 16px;   
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-size: 2.5rem;
    line-height: 1em;
    font-weight: 400;
    margin: 0;
    color: black;
}

.text {
    font-family: 'Arial', sans-serif;
    line-height: 18px;

    @media (min-width: $screen-md) {
        line-height: 24px;
    }
}

.link {
    color: inherit;
    text-decoration: none;

    &__icon {
        margin-left: 1.3em;
    }
}

.uppertext {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 0;
    background-color: $green-basic;
    width: 100%;
}

.logo {

    &-mobile-text {
        @media (min-width: $screen-md) {
            display: none;
        }
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    @include ul-none();
}

.icon-container {
    position: relative;
    background-color: $green-basic;

    &__icon {
        position: absolute;

        &--slim {
            bottom: 5%;
            @include makeSqr(100%);
        }

        &--pro {
            max-width: 130%;
            top: 25%;
            right: -10%;

            @media (min-width: $screen-md) {
                top: 23%;
                right: -17%;
                width: 268px;
                max-width: 268px;
            }
        }
    }

    &--leaf {
        background-image: url('../img/cat-energy-img/icon_leaf.svg');
    }

    &--tub {
        background-image: url('../img/cat-energy-img/icon_tub.svg');
    }

    &--eat {
        background-image: url('../img/cat-energy-img/icon_eat.svg');
    }

    &--alarm {
        background-image: url('../img/cat-energy-img/icon_alarm.svg');
    }

    &--round {
        border-radius: 100%;
    }
}

// ========================== PAGE-HEADER =============================== //

.page-header {
    @include container();
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .78em;
    padding-bottom: .78em;
    
    &__logo {
        display: inline-block;
        height: 2.85em;
        width: 2.42em;
        background-image: url('../img/cat-energy-img/logo-mobile.svg');
        @include makeBgCenter(contain);
    
        @media(min-width: $screen-md) {
            width: 10.9em;
            background-image: url('../img/cat-energy-img/logo-tablet.svg');
        }
    
        @media(min-width: $screen-lg) {
            background-image: url('../img/cat-energy-img/logo-desktop.svg');
        }
    }
}

// ========================== PROMO =============================== //

.promo {
    position: relative;

    &__content {
        @include container();
        color: white;
        text-align: center;
    }

    &__title {
        color: white;
        padding-top: $offset-mobile-y;
        transition: $transition-time;
    }

    &__uppertext {
        margin-top: $offset-mobile-y;
        margin-bottom: 0;
        transition: $transition-time;
    }

    &__image {
        margin-top: $offset-mobile-y;
    }

    &__background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 70%;
        z-index: -1;
    }

    &__bg-image {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('../img/cat-energy-img/index-bg-desktop.jpg');
        background-size: 175%;
        background-position: 65%;
        background-repeat: no-repeat;
    }

    &__bg-mask {
        position: absolute;
        @include makeFullscaled();
        background-color: $green-basic;
        opacity: .85;
    }
}

// ========================== GOAL =============================== //

.goal {
    @include container();
    padding-top: 20px;

    &__row {
        @include row();
    }

    &__col {
        @include make-col(12);
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: $offset-mobile;
    background-color: $grey-basic;

    &__title {
        font-size: 1.5rem;
        line-height: 2em;
        padding: 0;
        text-transform: uppercase;

        @media (min-width: $screen-md) and (max-width: $screen-lg) {
            line-height: 1em;
        }
    }

    &__text {
        padding: 1.42em 0;
    }

    &__icon-container {
        @include makeSqr(50px);
        margin-right: $offset-mobile;

        @media (min-width: $screen-md) {
            float: right;
            margin-right: 10px;
            @include makeSqr(200px);
        }
    }

    &__uppertext {
        display: flex;
        align-items: center;
        color: black;
        line-height: 1em;
    }

    @media (min-width: $screen-md) {
        display: block;
    }

    @media (max-width: $screen-md) {
        &__text {
            border-bottom: 1px solid #d9d9d9;
        }
    }

    @media (min-width: $screen-md) {
        &__text {
            max-width: 377px;
        }
    }
}

// ========================== ADVANTAGES =============================== //

.advantages {
    @include container();
    padding-top: $offset-mobile-y;
    padding-bottom: 20px;

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__icon-container {
        @include makeSqr(60px);
        @include makeBgCenter(50%);
    }

    &__text {
        flex-basis: 64.29%;
        flex-grow: 1;
        margin-left: $offset-mobile;
        margin-bottom: 0;
    }

    &__row {
        @include row();
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__col {
        @include col(xs, 12);
        margin-top: 20px;

        @media (min-width: $screen-md) {
            @include col(md, 6);
        }
    }
}

// ========================== DEMONSTRATION =============================== //

.demonstration {
    background-color: #EAEAEA;

    &__wrapper {
        @include container();
        padding-top: $offset-mobile-y;
        padding-bottom: $offset-mobile-y;
    }

    &__text {
        margin-top: $offset-mobile-y;
    }
}

.numbers {

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        justify-content: center;
        flex-basis: 44.64%;
        border: 1px solid $grey-darker;
        border-radius: 3px;
        transform: rotateX(180deg);
    }

    &__number {
        font-size: 1.5rem;
        line-height: 1em;
        color: black;
        padding-top: 15px;
        transform: rotateX(180deg);
    }

    &__text {
        font-size: 13px;
        line-height: 1em;
        text-align: center;
        max-width: 69.6%;
        transform: rotateX(180deg);
    }

    &__expenses-container {
        display: flex;
        justify-content: center;
        color: black;
        white-space: pre-wrap;
        margin: $offset-mobile-y 0;
    }
}

input[type='range'] {
    width: 85px;
}

.slider {
    &__inner {
        position: relative;
        width: 100%;
        height: 72.5vw;
    }

    &__slide-wrapper {
        position: absolute;
        height: 100%;
        overflow: hidden;
        transition: $transition-time;
        // @include makeBgCenter(contain);

        &--left-side {
            color: #d9d9d9;
            // background-image: url('../img/cat-energy-img/cat-fat.png');
        }

        &--right-side {
            color: #EAEAEA;
            // background-image: url('../img/cat-energy-img/cat-skinny.png');
        }
    }

    &__slide {
        @include makeBgCenter(contain);
        width: calc(100vw - 40px);
        height: 100%;

        &--left {
            background-image: url('../img/cat-energy-img/cat-fat.png');
        }

        &--right {
            background-image: url('../img/cat-energy-img/cat-skinny.png');
        }
    }

    &__control-box {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        margin-top: $offset-mobile-y;
    }

    &__control {
        margin: 0 $offset-mobile / 2;

        // стили для ползунка контрола

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            @include makeThumb(35px, 6px, 6px, $green-basic);
        }

        &::-moz-range-thumb {
            @include makeThumb(35px, 6px, 6px, $green-basic);
        }

        &::-ms-thumb {
            @include makeThumb(35px, 6px, 6px, $green-basic);
        }

        // стили для трека, по которому гоняют ползуна

        &::-webkit-slider-runnable-track {
            @include makeTrack(14px, white, 6px, $grey-darker, 3px, 6px);
        }

        &::-moz-range-track {
            @include makeTrack(14px, white, 6px, $grey-darker, 3px, 6px);
        }

        &::-ms-track {
            box-sizing: border-box;
            height: 14px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
        }
    }
}

// ========================== CONTACTS =============================== //

.contacts {

    &__inner {
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $offset-mobile-y;
        padding-bottom: $offset-mobile-y;
    }

    &__uppertext {
        font-size: 1.1rem;
        line-height: 1.3em;
        color: black;
        margin-bottom: 0;
        margin-left: calc(6.5% - 20px);
        max-width: 10rem;
        flex-basis: 50%;
    }

    &__address {
        max-width: 10rem;
        flex-basis: 50%;
        margin-right: calc(6.5% - 20px);
    }

    &__text {
        margin-bottom: 0;
    }

    &__map {
        @include makeBgCenter(cover);
        background-position: center;
        width: 100%;
        height: 113.13vw;
        max-height: 400px;
        background-image: url('../img/cat-energy-img/map.png');
    }
}

// ========================== PAGE-FOOTER =============================== //

.page-footer {
    background-color: $grey-basic;

    &__wrapper {
        @include container();
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__row {
        @include row();
    }

    &__col {
        @include make-col(12);
    }

    &__logo-wrapper {
        display: block;
        text-align: center;
        padding: 30px 0;
        border-bottom: 1px solid #d9d9d9;
    }

    &__social {
        max-width: 130px;
        padding: 20px 0;
        margin: 0 auto;
    }

    &__author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid #d9d9d9;
    }
}

.social {
    justify-content: space-between;
    align-items: center;

    &__icon {
        fill: none;
    }
}