// Style plagin
@import "variables";

// @import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

// Default styles

@import "grid-mixins";

@import "functions";

@import "fonts";
@import "global";

@import "../blocks/components/burger/burger.scss";
@import "../blocks/components/main-nav/main-nav.scss";
@import "../blocks/components/menu/menu.scss";

@import "../blocks/project/page-header/page-header";
@import "../blocks/project/page-footer/page-footer";
@import "../blocks/project/order-page/order-page";

// My styles

// ========================== BASIC STYLES =============================== //

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@media (min-width: $screen-md) {
    $fz: 16px;   
}

.title {
    font-size: 2.57rem;
    line-height: 1em;
    font-weight: 400;
    color: inherit;

    &--sub {
        font-size: 1.71rem;
        line-height: 1.54em;
        text-transform: uppercase;
    }
}

.text {
    font-family: 'Arial', sans-serif;
    line-height: 18px;

    @media (min-width: $screen-md) {
        line-height: 24px;
    }
}

.link {
    color: inherit;
    text-decoration: none;
}

.uppertext {
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 0;
    background-color: $basic-green;
    width: 100%;
}

.logo {
    display: inline-block;
    height: 2.85em;
    width: 2.42em;
    background-image: url('../img/cat-energy-img/logo-mobile.svg');
    @include bg-center(contain);

    @media(min-width: $screen-md) {
        width: 10.9em;
        background-image: url('../img/cat-energy-img/logo-tablet.svg');
    }

    @media(min-width: $screen-lg) {
        background-image: url('../img/cat-energy-img/logo-desktop.svg');
    }

    &-mobile-text {
        @media (min-width: $screen-md) {
            display: none;
        }
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    @include ul-none();
}

// ========================== PAGE-HEADER =============================== //

.page-header {
    @include container();
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .78em;
    padding-bottom: .78em; 
}

// ========================== PROMO =============================== //

.promo {
    position: relative;

    &__content {
        @include container();
        color: white;
        text-align: center;
    }

    &__title {
        padding-top: .75em;
        transition: $transition-time;
    }

    &__uppertext {
        margin-bottom: 2.14em;
        transition: $transition-time;
    }

    &__background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 70%;
        z-index: -1;
    }

    &__bg-image {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url('../img/cat-energy-img/index-bg-desktop.jpg');
        background-size: 175%;
        background-position: 65%;
        background-repeat: no-repeat;
    }

    &__bg-mask {
        position: absolute;
        @include fullscaled();
        background-color: $basic-green;
        opacity: .85;
    }
}