mixin page-header()
  header.page-header
  a.logo(href="#")
  nav.page-header__menu
    ul.list
      li.list__item.list__item--menu главная
      li.list__item.list__item--menu каталог продукции
      li.list__item.list__item--menu подбор программы
